* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /*누르고 나서 색갈 안변하게?*/
}
a:hover {
    text-decoration: underline; 
}

.top {
    width: 100%;
    height: 5vh;
    /*background-color: darkcyan;*/
}
.lbox1 {
    float: left; 
    margin: 10px;

}
.lbox2 {
    float: left; 
    margin: 10px;

}
.rbox1 {
    float: right; 
    margin: 10px;
}
.rbox1:hover {
    background-color: gainsboro;
    border-radius: 50%;
    cursor: pointer; /*커서 손모양*/
}

.rbox2 {
    float: right; 
    margin: 10px;
}
.rbox2 :hover {
    background-color: gainsboro;
    border-radius: 50%;
    cursor: pointer; 
}

.rbox3 {
    float: right; 
    margin: 10px;

}
.rbox4 {
    float: right; 
    margin: 10px;

}



.center {
    width: 800px; /*실수 : 100%로 해놓고 중앙정렬이 안된다고하고있엇음..,ㅋ;*/
    height: 820px; 
    margin: 0 auto; /*가운데 정렬?*/

}


.centerimg {
    width: 33%;
    margin: 0 auto;
}

.wrap {
    margin: 0 auto;
    position: relative;
    top: 30%;
    border: 1px solid red;
}
.search {
    border : 1px solid gainsboro;
    border-radius: 20px;
    position: absolute;
    left: 20%;
    margin: 0 auto; /*?*/
    
}

input {
    border-style: none;
    width: 500px;
    height: 40px;
    position: relative;
    
}
.a { /*1.안움직여? icon의 이름 그대로쓰지말고 사용자정의로 바꿔야함*/
    position: absolute;
    left: 200px;
    top: 105px;
    
}
.fa fa-keyboard-o {
    position: absolute;
    left: 20px;
    top: 105px;
}
.fa fa-microphone {
    position: absolute;
    left: 20px;
    top: 105px;
}

.centertext {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; /*가로로정렬 text-aling은 세로로정렬*/
    
}
.centertext > div {
    background-color: #f1f1f1;
    margin: 70px 10px;
    padding: 10px;
  }
.cbox1:hover {
    border : 1px solid black; /*커서올리면바껴야하는데안바뀜왜*/
    cursor: pointer;
    
}
.cbox2:hover{
    border : 1px solid black; /*커서올리면바껴야하는데안바뀜왜*/
    cursor: pointer;
}


.bottom {
    width: 100%;
    height: 100px;
    background-color: rgb(236, 235, 235);
    color:grey;
}
.bot1{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid darkgray;
}
.bot1box {
    float: left; 
    margin: 10px;
    padding: 5px;
}
.lbbox1 {
    float: left;
    margin: 10px;
    padding: 5px;
}
.lbbox2 {
    float: left;
    margin: 10px;
    padding: 5px;
}
.lbbox3 {
    float: left;
    margin: 10px;
    padding: 5px;
}
.rbbox1 {
    float: right; 
    margin: 10px;
    padding: 5px;
}
.rbbox2 {
    float: right; 
    margin: 10px;
    padding: 5px;
}
.rbbox3 {
    float: right; 
    margin: 10px;
    padding: 5px;
}
